*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  position: relative;

  /* padding-top: 126px; */
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 30px;

  align-items: flex-end;
  width: 1140px;
  height: 534px;
}

.content__details {
  width: 100%;
  height: 100%;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  object-fit: cover;
  position: relative;
}

.result__video {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  max-height: 298px;
  max-width: 399px;
  overflow-y: auto;
  overflow-x: hidden;
}

.content__list-item {
  min-width: 399px;
}

.content__card-link {
  margin: 2px;
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__card-link_current {
  background: #545050;
}

.content__video-card-description-container {
  height: 100%;
  /* width: 100%; */
}

.content__card-link:hover .content__video-card-description-container {
  text-decoration: underline;
}
.content__card-link:active {
  background-color: #545050;
}
.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card {
  padding: 2px;
  display: flex;
  justify-content: space-between;
}

.content__video-card:active {
  background-color: #545050;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-title {
  padding-bottom: 6px;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 100%;
}

.content__video-card-description {
  line-height: 16.2px;
}

.title {
  margin-bottom: 26px;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 94%;
}

.content__accent {
  color: #545050;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

fieldset {
  border: none;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.search-form__checkbox-list {
  margin-bottom: 5px;
  gap: 15px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__textfield {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  appearance: none;
  background: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-family: Fira Sans Condensed, sans-serif;
  width: 225px;
  outline: none;
}

.search-form__textfield:focus {
  outline: transparent;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
}

.search-form__label {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__checkbox-list {
  display: flex;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__pseudo-checkbox {
  display: block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  align-items: center;
}

.button {
  cursor: pointer;
  font-weight: 700;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid #fff;
  background: #1b1919;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background: #545050;
}

.button:focus-visible {
  outline-offset: 2px;
  outline: 1px solid #fff;
}

.more-button {
  outline: 1px solid #1b1919;
  width: 399px;
  height: 34px;
}
.more-button:focus-visible {
  margin: 3px;
}

input[type="checkbox"]:checked + span {
  background-color: #fff;
  border: 1px solid #000;
  outline: 1px solid #fff;
  width: 19px;
  height: 19px;
}

/* .error__title {
  color: #fff;

  text-align: center;
  font-family: Oswald, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
  letter-spacing: 10;
} */
